body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*header*/
.header {
    position: fixed;
    /* Bölümü sabit konumlandır */
    top: -100px;
    z-index: 999;
    /* Diğer elementlerin üzerine çıkmasını sağlar */
    transition: top 0.3s;
    /* Geçiş efekti */
    width: 100%;
    height: 40px;
    background-color: white;
}

.header.active {
    top: 0;
    /* Sayfanın en üstüne sabitle */
}

/* Sliderder*/
.firstImages {
    max-height: 680px;
    max-width: 100%;
    height: auto;
    border-radius: 1%;
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(215, 156, 128, 0.5);
    border-radius: 1%;
}

/* Sliderdeki fotoğrafların üzerine pembe perde efekti ve yazı ekleme */
.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Yazı rengi */
    text-align: center;
}

.title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Yazı rengi */
    text-align: center;
    width: 100%;

}

/*Invitation*/
.invitationText {
    background-color: #f2f2f2;

}
.invitationText .container {
    max-width: 600px; /* Metnin maksimum genişliği */
    margin: 0 auto; /* Metni yatayda ortalamak için */
}
.photo-gallery {
    margin-top: 20px;
}

.photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    display: inline-block;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/*Kesim*/
.bracket {
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}

.heart {
    color: #890025;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}
/*adres*/
.adres{
    background-color: #f2f2f2;
    padding: 90px;
}

/*Data*/
.dateText {
    background: linear-gradient(to right, #D79C80, #ECD7D0, #ECD7D0, #D79C80);
    /* Lineer gradyan arka plan rengi */
    width: 100%;
    padding: 10px 0;
    border-radius: 1%;

}
.month, .date, .year{
    display: flex; /* Öğeleri yatayda sıralar */
    justify-content: space-around;
    align-items: center; /* Öğeleri dikeyde ortalar */
        
}
/*form*/
.bg-orange {
    background: linear-gradient(to right, #D79C80, #ECD7D0, #ECD7D0, #D79C80);
}


.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Yükseklik 100% olarak ayarlandı */
    overflow-y: auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}
.form-control:focus {
    border-color: #D79C80; /* İşaretlendiğinde border rengi */
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%); /* Seçildiğindeki gölge */
}

.btn-primary {
    border: none;
    background-color: primary;
    width: 300px;
    margin: 20px;
    
}

.btn-primary:hover {
    border: none;
    background-color:  #D79C80
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;

}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
.join{
    display: flex; /* Öğeleri yatayda sıralar */
    justify-content: space-around;
    align-items: center; /* Öğeleri dikeyde ortalar */
}
/*Gallery*/



/*footer*/
.footer {
    background: linear-gradient(to right, #D79C80, #ECD7D0, #ECD7D0, #D79C80);
    /* Lineer gradyan arka plan rengi */
    border-radius: 1%;

}

.lastText {
    font-size: 30px;
}



#countdown2 {
    font-size: 17px;
    color: black;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 999;
  }
  #countdown {
    font-size: 17px;
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 999;
  }

/*Line*/
.horizontal-line {
    width: 350px;
    height: 2px;
    background-color: grey;

}
/*Gallery*/
.card-img-top:hover {
    transform: scale(1.09); /* Büyüklük faktörü */
    transition: transform 0.5s ease; /* Geçiş efekti */
}
.photo-gallery-section, .kesik{
    background-color: #f2f2f2;
}
